<%- include("header") -%>
<div id="intro"></div>
<div id="navbar">
    <div class="navItem" onclick='location.href="https://www.linkedin.com/in/abhishweta-gupta-96078b1b9/"'><i class="fa-brands fa-linkedin-in"></i></div>
    <div class="navItem" onclick='location.href="https://www.youtube.com/channel/UCBuBf254bcJE_hR-FcCeJwg"'><i class="fa-brands fa-youtube"></i></div>
    <div class="navItem" onclick='location.href="https://github.com/Abhi1147"'><i class="fa-brands fa-github"></i></div>
    <div class="navItem" onclick='location.href="https://twitter.com/abhishwetagupta"'><i class="fa-brands fa-twitter"></i></div>
    <div class="navItem" onclick='location.href="https://leetcode.com/Abhishweta/"'><i class="fa-solid fa-code" ></i></div>
   </div>

   <div id="home-content">
    <p>Hello, I am</p>
    <p style="font-weight: bolder;font-size: xxx-large;">Abhishweta Gupta</p>
    <p style="font: weight 500px;;font-size: large;">Full Stack Developer |  Youtuber</p>
   </div>

   <div id="print-btn" onclick="window.print();return false;">Print Resume</div>
   <!-- home about resume name(profession) portfolio future_learning contact -->
   <div id="contentDetail">
    <div class="contentItem"><a href="/">Home</a></div>
    <div class="contentItem"><a href="#about">About</a></div>
    <div class="contentItem"><a href="#Resume">Resume</a></div>
    <div>Abhishweta Gupta</div>
    <div class="contentItem"><a href="#project-main">Portfolio</a></div>
    <div class="contentItem"><a href="#FutureScope">Future Learning</a></div>
    <div class="contentItem"><a href="#contact">Contact</a></div>
   </div>
   
   <!-- about section -->

   <div id="about">
    <div id="about1">
        <div class="aboutHeading"><span style="border-bottom: 1.5px solid #f85c70;padding-bottom: 5px;">W</span>ho am I ?</div>
        <p style="font-size: x-large;padding-bottom: 30px;">A Full Stack Web Developer and Youtuber</p>
        <p style="color:rgb(24, 24, 24);">Skilled in JavaScript, C++, DSA, and web development with a Bachelor of Engineering focused in Computer Engineering from CHITKARA UNIVERSITY,PUNJAB.
        <br><br>I have always had a creative streak, therefore I am looking forward to using my technical expertise to create within the realm of currently existing technology. I enjoy learning new things, doing programming, analyzing and fixing issues, and making new things. 
        <br><br>According to me, learning is a lifelong process. And I will do my best.</p>
    </div>
    <div id="about2" style="padding-left: 30px;padding-right: 30px;">
        <div class="aboutHeading"><span style="border-bottom: 1.5px solid #f85c70;padding-bottom: 5px;">P</span>ersonal Info</div>
        <table>
            <tr>
                <td><span style="font-weight: bold;">Birthday:</span></td>
                <td>05/01/2002</td>
            </tr>
            <tr>
                <td><span style="font-weight: bold;">Linkedin:</span></td>
                <td>www.linkedin.com/in/abhishweta-gupta-96078b1b9/</td>
            </tr>
            <tr>
                <td><span style="font-weight: bold;">Email:</span></td>
                <td>abhishweta123it@gmail.com</td>
            </tr>
            <tr>
                <td><span style="font-weight: bold;">Github:</span></td>
                <td>https://github.com/Abhi1147</td>
            </tr>
            <tr>
                <td><span style="font-weight: bold;">Address:</span></td>
                <td>Chitkara University,Rajpura,Punjab,PinCode:-140401</td>
            </tr>
        </table>
    </div>
    <div id="about3">
        <div class="aboutHeading"><span style="border-bottom: 1.5px solid #f85c70;padding-bottom: 5px;">M</span>y Expertise</div>
        <div style="margin-bottom: 35px;">
        <div style="font-size: x-large;padding-bottom: 15px;"><i class="fa-solid fa-database" style="color: #f85c70;font-size: xx-large;"></i> Web Development</div>
        <p style="cursor: pointer;" onclick="location.href='https://github.com/Abhi1147'">Check Out My Projects <i class="fa-solid fa-arrow-right" style="color: #f85c70;"></i></p>
        </div>
        <div>
            <div style="font-size: x-large;padding-bottom: 15px;"><i class="fa-solid fa-code" style="color: #f85c70;font-size: xx-large;"></i> Problem Solving</div>
            <p style="cursor: pointer;" onclick="location.href='https://www.youtube.com/channel/UCBuBf254bcJE_hR-FcCeJwg/videos';">Check Out all Solutions <i class="fa-solid fa-arrow-right" style="color: #f85c70;"></i></p>
        </div>
    </div>
   </div>

   <!-- Resume Section -->
   <p class="Main"><span style="color: #f85c70;">My</span> Resume</p>
   <div id="Resume">
    <div id="Education" style="font-family: sans-serif;">
        <div class="ResumeHeading"><span style="border-bottom: 1.5px solid #f85c70;padding-bottom: 5px;">E</span>ducation</div>
        <div style="padding-bottom: 30px;">
            <p style="color: #f85c70;font-size: larger;padding-bottom: 15px;">2020 - Present</p>
            <p style="color: darkgray; padding-bottom: 10px;">B.E Computer Engineering</p>
            <p style="color: darkgray;">Persuing Bachelor degreee from CHITKARA UNIVERSITY.</p>
            <p style="color: darkgray;">CGPA: 9.89</p>
        </div>
        <div style="padding-bottom: 30px;">
            <p style="color: #f85c70;font-size: larger;padding-bottom: 15px;">2018 - 2020</p>
            <p style="color: darkgray; padding-bottom: 10px;">Intermediate</p>
            <p style="color: darkgray;">Completet Intermediate from pr. B.P Singh College</p>
            <p style="color: darkgray;">result:- 95%</p>
        </div>
        <div style="padding-bottom: 30px;">
            <p style="color: #f85c70;font-size: larger;padding-bottom: 15px;">2016 - 2017</p>
            <p style="color: darkgray; padding-bottom: 10px;">Matriculation</p>
            <p style="color: darkgray;">Completed school from D.A.V Public School</p>
            <p style="color: darkgray;">CGPA:- 10.0</p>
        </div>
    </div>
    <div id="Skills" style="font-family: sans-serif;">
        <div class="ResumeHeading"><span style="border-bottom: 1.5px solid #f85c70;padding-bottom: 5px;">S</span>kills</div>
        <% for(var i=0;i<allSkill.length;i++){ %>
            <% if(i==10){ %>
                <% break;  %>
                <% }  %>
            <p class="skillsItem"><%= allSkill[i].name %> </p>
        <div style="width: 100%;height: 2%;border: 2px solid black;border-radius: 10px;"><div style="background-color: #f85c70;height: 100%;border-radius: 10px;" class="<%= allSkill[i].Confidence %>";>
            <script>
                  var x=parseInt("<%= allSkill[i].Confidence %>");
                  for(var j=0;j<"<%= allSkill.length%>";j++){
                    document.getElementsByClassName("<%= allSkill[i].Confidence %>")[0].style.width=x+"%";
                  }
                  
            </script>
        </div></div>
       <% } %>
       <p style="cursor: pointer;margin-top: 10px;color: darkgrey;" onclick="location.href='/skill';">Read More <i class="fa-solid fa-arrow-right" style="color: #f85c70;"></i></p>
    </div>
    </div>

    <!-- portfolio section -->
    <p class="Main"><span style="color: #f85c70;">My</span> Projects</p>

    <div id="project-main">
    <% items.forEach(function(image){ %>
        <div>
            <div style="height: 250px; width: 250px;cursor: pointer;margin-bottom: 15%;border: solid black 2px;">
            <img src="data:image/<%= image.img.contentType %>;base64,<%= image.img.data.toString('base64') %>" height="100%" width="100%"/ onclick='location.href="<%= image.projectLink %>"'>
            <p style="text-align: center;"><%= image.name %></p>
            </div>
        </div>
   <% }) %>
   
    </div>


    <!-- future learning -->
    <div id="FutureScope">
        <p class="Main"><span style="color: #f85c70;">My</span> Future Learning</p>
        <div style="background-color: white; padding-top: 5%;padding-bottom: 5%;padding-left: 64px;font-size: xx-large;font-weight: bolder;font-family: sans-serif;">
            1. Android Development <br>
            2. Blockchain
        </div>
    </div>


    <!-- contact section -->
    <div id="contact">
        <div class="navItem" onclick='location.href="https://www.linkedin.com/in/abhishweta-gupta-96078b1b9/"'><i class="fa-brands fa-linkedin-in"></i></div>
    <div class="navItem" onclick='location.href="https://www.youtube.com/channel/UCBuBf254bcJE_hR-FcCeJwg"'><i class="fa-brands fa-youtube"></i></div>
    <div class="navItem" onclick='location.href="https://github.com/Abhi1147"'><i class="fa-brands fa-github"></i></div>
    <div class="navItem" onclick='location.href="https://twitter.com/abhishwetagupta"'><i class="fa-brands fa-twitter"></i></div>
    <div class="navItem" onclick='location.href="https://leetcode.com/Abhishweta/"'><i class="fa-solid fa-code" ></i></div>
    </div>
    <p style="color: white;text-align: center;background-color: black;">Abhishweta Gupta</p>
    <p style="color: white;text-align: center;background-color: black;padding-bottom: 2%;">email-id: abhishweta123it@gmail.com</p>
    


<%- include('footer') -%>